/* ---- LOGIN DESIGN ---- */
body {
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.form_container {
    width: 400px;
    min-height: 400px;
    background: rgb(247, 247, 247);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 40px 30px;
    position: relative;
    margin: 10% 37%;
}

.home{
    text-align: center;
    padding: 10px;
}

.home a{
    color:black;
    text-decoration: underline;
}

.home a:hover{
    color:#ff8800;
    font-weight: bold;
    cursor: pointer;
}

.form_container .login_word {
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 15px;
    display: block;
    text-transform: capitalize;
}

.form_container .login .input-field {
    width: 90%;
    height: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.form_container .login .input-field input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 20px 30px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .5s;  
}

.form_container .login .input-field input:focus, .form_container .login .input-field input:valid {
    border-color: #bbd6ed;
}

.form_container .login .input-field .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #bbd6ed;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .5s;
    margin-left: 3px;
}

.form_container .login .input-field .btn:hover {
    transform: translateY(-5px);
    background: #bbd6ed;
}

.login-register_exchange {
    color: #111;
    font-weight: 70;
    text-align: center;
}

.login-register_exchange .account_a {
    text-decoration: none;
    color: blue;
    font-weight:bold;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 430px) {
    .form_container {
        width: 300px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}
